body {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: clamp(2vw, 16px, 5vw);
}

.video-generator {
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    text-align: center;
}

form select {
    text-align: center;
    width: 100%;
    height: 2rem;
    margin-bottom: 0.5rem;
}

#generate-video {
    height: 2rem;
    background-color: #c20000;
    color: black;
    border: none;
    font-size: clamp(1vw, 1rem, 5vw);
    cursor: pointer;
}

.video-container {
    margin-top: 1rem;
}